webservice {
  port = {{ cromwell_port }}
  interface = 0.0.0.0
}
akka {
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  logging-filter = "akka.event.slf4j.Slf4jLoggingFilter"
}
docker {
  hash-lookup {
    enabled = false
  }
}
backend {
  default = "Local"
  providers {
    Local {
      actor-factory = "cromwell.backend.impl.sfs.config.ConfigBackendLifecycleActorFactory"
      config {
        max-concurrent-workflows = 3
        concurrent-job-limit = 8
        script-epilogue = ""
        filesystems {
          local {
            localization: [
              "soft-link", "hard-link", "cached-copy", "copy"
            ]
            caching {
              duplication-strategy: [
                "soft-link", "hard-link", "copy"
              ]
            }
          }
        }
      }
    }
  }
  call-caching {
    enabled = false
    lookup-docker-hash = false
  }
}
database {
  profile = "slick.jdbc.MySQLProfile$"
  db {
    driver = "com.mysql.cj.jdbc.Driver"
    url = "jdbc:mysql://localhost/cromwell?rewriteBatchedStatements=true&useSSL=false"
    user = "{{ cromwell_user }}"
    password = "{{ cromwell_password }}"
    connectionTimeout = 5000
  }
}
